<!DOCTYPE html>
<html
  lang="ja"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout ::base(~{::title}, ~{::main}, ~{::script}, null)}"
>
  <head>
    <title>会議室予約 | 予約編集</title>
  </head>
  <body>
    <main>
      <!-- コンテンツ領域 -->
      <div class="container-fluid py-4">
        <!-- テーブル（PC用） -->
        <table class="table table-striped table-hover user-table">
          <thead class="table-light">
            <tr>
              <th class="text-center">id</th>
              <th class="text-center">予約会議室</th>
              <th class="text-center">予約ユーザ</th>
              <th class="text-center">利用開始日時</th>
              <th class="text-center">利用終了日時</th>
              <th class="text-center">備考</th>
              <th class="text-center">操作</th>
            </tr>
          </thead>
          <tbody>
            <!-- 予約編集 -->
            <tr>
              <form
                id="editForm"
                th:action="@{/reservation/{id}(id=${reservationDto.id})}"
                method="post"
                th:object="${reservationDto}"
              >
                <input type="hidden" name="_method" value="update" />
                <input type="hidden" name="page" th:value="${currentPage}" />
                <input type="hidden" name="size" th:value="${size}" />

                <td>[[*{id}]]</td>
                <td>
                  <select class="form-control" th:field="*{room.id}" required>
                    <option
                      th:each="room : ${rooms}"
                      th:value="${room.id}"
                      th:text="${room.name}"
                      th:selected="${room.id} == *{room.id}"
                    ></option>
                  </select>
                  <div
                    class="text-danger"
                    th:if="${#fields.hasErrors('room.id')}"
                    th:errors="*{room}"
                  ></div>
                </td>
                <td>
                  <!-- 管理者のみユーザ選択可能。一般ユーザは自分固定。 -->
                  <select
                    th:if="${isAdmin}"
                    class="form-control"
                    th:field="*{user.id}"
                    required
                  >
                    <option
                      th:each="user : ${users}"
                      th:value="${user.id}"
                      th:text="${user.name}"
                      th:selected="${user.id} == *{user.id}"
                    ></option>
                  </select>
                  <div th:unless="${isAdmin}">
                    <span th:text="${loginUser.name}">ユーザ名</span>
                    <input type="hidden" th:field="*{user.id}" />
                  </div>
                  <div
                    class="text-danger"
                    th:if="${#fields.hasErrors('user.id')}"
                    th:errors="*{user}"
                  ></div>
                </td>
                <td th:with="useFrom=*{useFromDatetime}">
                  <!-- カレンダー入力、利用開始日時 -->
                  <input
                    type="datetime-local"
                    class="form-control"
                    name="useFromDatetime"
                    th:value="${#temporals.format(reservationDto.useFromDatetime, 'yyyy-MM-dd''T''HH:mm')}"
                  />
                  <div
                    class="text-danger"
                    th:if="${#fields.hasErrors('useFromDatetime')}"
                    th:errors="*{useFromDatetime}"
                  >
                    利用開始日時のエラー
                  </div>
                </td>
                <td th:with="useTo=*{useToDatetime}">
                  <!-- カレンダー入力、利用終了日時 -->
                  <input
                    type="datetime-local"
                    class="form-control"
                    name="useToDatetime"
                    th:value="${#temporals.format(reservationDto.useToDatetime, 'yyyy-MM-dd''T''HH:mm')}"
                  />
                  <div
                    class="text-danger"
                    th:if="${#fields.hasErrors('useToDatetime')}"
                    th:errors="*{useToDatetime}"
                  >
                    利用終了日時のエラー
                  </div>
                </td>
                <td>
                  <input
                    class="form-control"
                    type="text"
                    th:field="*{remarks}"
                  />
                  <div
                    class="text-danger"
                    th:if="${#fields.hasErrors('remarks')}"
                    th:errors="*{remarks}"
                  >
                    備考のエラー
                  </div>
                </td>
                <td>
                  <div class="d-flex">
                    <button class="btn btn-save btn-success mx-1" type="submit">
                      保存
                    </button>
                    <button
                      class="btn reservation-cancel-button btn-secondary mx-1"
                      th:data-page="${currentPage}"
                      th:data-size="${size}"
                    >
                      取消
                    </button>
                  </div>
                </td>
              </form>
            </tr>
          </tbody>
        </table>
        <!-- カード型（スマホ用） -->
        <div class="user-card-list">
          <!-- 予約編集 -->
          <div class="card mb-2">
            <div class="card-body">
              <form
                id="editForm"
                class="row g-2"
                th:action="@{/reservation/{id}(id=${reservationDto.id})}"
                method="post"
                th:object="${reservationDto}"
              >
                <input type="hidden" name="_method" value="update" />
                <input type="hidden" name="page" th:value="${currentPage}" />
                <input type="hidden" name="size" th:value="${size}" />

                <div class="col-12">
                  <label class="form-label">予約会議室</label>
                  <select class="form-select" th:field="*{room.id}">
                    <option value="" disabled selected>会議室を選択</option>
                    <option
                      th:each="room : ${rooms}"
                      th:value="${room.id}"
                      th:text="${room.name}"
                    ></option>
                  </select>
                  <div
                    class="text-danger"
                    th:if="${#fields.hasErrors('room.id')}"
                    th:errors="*{room.id}"
                  >
                    会議室の選択エラー
                  </div>
                </div>
                <!-- 管理者のみユーザ選択可能。一般ユーザは自分固定。 -->
                <div class="col-12">
                  <label class="form-label">予約ユーザ</label>
                  <div th:if="${isAdmin}">
                    <select class="form-select" th:field="*{user.id}">
                      <option value="" disabled>ユーザを選択</option>
                      <option
                        th:each="user : ${users}"
                        th:value="${user.id}"
                        th:text="${user.name}"
                      ></option>
                    </select>
                  </div>
                  <div th:unless="${isAdmin}" class="col-12">
                    <span class="mx-3" th:text="${loginUser.name}"
                      >ユーザ名</span
                    >
                    <input type="hidden" th:field="*{user.id}" />
                  </div>
                  <div
                    class="text-danger"
                    th:if="${#fields.hasErrors('user.id')}"
                    th:errors="*{user.id}"
                  >
                    予約ユーザのエラー
                  </div>
                </div>
                <!-- カレンダー入力、利用開始日時 -->
                <div class="col-12" th:with="useFrom=*{useFromDatetime}">
                  <label class="form-label">利用開始日時</label>
                  <input
                    type="datetime-local"
                    class="form-control"
                    name="useFromDatetime"
                    th:value="${#temporals.format(reservationDto.useFromDatetime, 'yyyy-MM-dd''T''HH:mm')}"
                  />
                  <div
                    class="text-danger"
                    th:if="${#fields.hasErrors('useFromDatetime')}"
                    th:errors="*{useFromDatetime}"
                  >
                    利用開始日時のエラー
                  </div>
                </div>
                <!-- カレンダー入力、利用終了日時 -->
                <div class="col-12" th:with="useTo=*{useToDatetime}">
                  <label class="form-label">利用終了日時</label>
                  <input
                    type="datetime-local"
                    class="form-control"
                    name="useToDatetime"
                    th:value="${#temporals.format(reservationDto.useToDatetime, 'yyyy-MM-dd''T''HH:mm')}"
                  />
                  <div
                    class="text-danger"
                    th:if="${#fields.hasErrors('useToDatetime')}"
                    th:errors="*{useToDatetime}"
                  >
                    利用開始日時のエラー
                  </div>
                </div>
                <div class="col-12">
                  <label class="form-label">備考</label>
                  <input
                    class="form-control"
                    type="text"
                    th:field="*{remarks}"
                  />
                  <div
                    class="text-danger"
                    th:if="${#fields.hasErrors('remarks')}"
                    th:errors="*{remarks}"
                  >
                    備考のエラー
                  </div>
                </div>

                <div class="d-flex justify-content-end">
                  <button class="btn btn-save btn-success mx-1" type="submit">
                    保存
                  </button>
                  <button
                    class="btn reservation-cancel-button btn-secondary mx-1"
                    th:data-page="${currentPage}"
                    th:data-size="${size}"
                  >
                    取消
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <script th:src="@{/js/reservation.js}"></script>
    </footer>
  </body>
</html>
