<!DOCTYPE html>
<html
  lang="ja"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  th:fragment="base(title, main)"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title th:replace="${title}"></title>
  </head>

  <body>
    <header class="py-4">
      <div
        class="container text-center"
        th:text="|こんにちは、${loginUser != null && loginUser.name != null ?loginUser.name : 'ゲスト'}さん！|"
      ></div>
    </header>

    <nav
      th:if="${#authorization.expression('isAuthenticated()')}"
      class="navbar navbar-expand-md sticky-top"
    >
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-content"
          aria-controls="navbar-content"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/reservation}">会議室予約</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
              <a class="nav-link" th:href="@{/admin/user}">ユーザ登録</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
              <a class="nav-link" th:href="@{/admin/room}">会議室登録</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main th:replace="${main}"></main>

    <footer
      th:if="${#authorization.expression('isAuthenticated()')}"
      class="py-4"
    >
      <div class="container">
        <ul>
          <li><i class="bi bi-house"></i>：トップへ戻る</li>
          <li><i class="bi bi-envelope-at"></i>：管理者のメールアドレス</li>
          <li>
            <form th:action="@{/logout}" method="post">
              <button type="submit" class="btn btn-link p-0">
                <i class="bi bi-box-arrow-right"></i>：ログアウト
              </button>
            </form>
          </li>

          <li>copyright &copy2025 abcsoftware all rights reserved.</li>
        </ul>
      </div>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"
      ></script>
      <script th:src="@{/js/user.js}"></script>
    </footer>
  </body>
</html>
