HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

backend/.gradle/
*.class

# macOS
# ----
.DS_Store
backend/.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Dependency directories
node_modules/
jspm_packages/

# アプリケーションの JSファイルを無視
frontend/src/components/*.js
frontend/src/context/*.js
frontend/src/hooks/*.js
frontend/src/models/*.js
frontend/src/pages/*.js
frontend/src/services/*.js
frontend/src/utils/*.js
frontend/src/App.js

# Dockerお掃除シェル
cleanup_docker.zsh