<!DOCTYPE html>
<html
  lang="ja"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout ::base(~{::title}, ~{::main})}"
>
  <head>
    <title>会議室予約 | ユーザ登録</title>
  </head>
  <body>
    <main>
      <!-- トースト領域 -->
      <div
        class="toast-container position-fixed top-0 start-50 translate-middle-x p-3"
        style="z-index: 1080"
        th:if="${successMessage}"
      >
        <div
          class="toast align-items-center text-bg-success border-0 show"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="d-flex">
            <div class="toast-body" th:text="${successMessage}">
              登録が完了しました。
            </div>
            <button
              type="button"
              class="btn-close btn-close-white me-2 m-auto"
              data-bs-dismiss="toast"
              aria-label="Close"
            ></button>
          </div>
        </div>
      </div>
      <!-- コンテンツ領域 -->
      <div class="container-fluid py-4">
        <!-- ユーザ削除 -->
        <form id="deleteForm" th:action="@{/admin/user}" method="post">
          <input type="hidden" name="_method" value="delete" />
          <input type="hidden" name="id" />
        </form>

        <!-- テーブル（PC用） -->
        <table class="table table-striped table-hover user-table">
          <thead class="table-light">
            <tr>
              <th class="text-center">id</th>
              <th class="text-center">email</th>
              <th class="text-center">パスワード</th>
              <th class="text-center">管</th>
              <th class="text-center">名前</th>
              <th class="text-center">所属</th>
              <th class="text-center">tel</th>
              <th class="text-center">写真</th>
              <th class="text-center">操作</th>
            </tr>
          </thead>
          <tbody>
            <!-- 新規登録 -->
            <tr>
              <form
                th:action="@{/admin/user}"
                method="post"
                enctype="multipart/form-data"
                th:object="${userDto}"
              >
                <td></td>
                <td>
                  <input
                    class="form-control"
                    type="email"
                    th:field="*{email}"
                  />
                  <div
                    class="text-danger"
                    th:if="${#fields.hasErrors('email')}"
                    th:errors="*{email}"
                  >
                    emailのエラー
                  </div>
                </td>
                <td>
                  <input
                    class="form-control"
                    type="password"
                    th:field="*{password}"
                  />
                  <div
                    class="text-danger"
                    th:if="${#fields.hasErrors('password')}"
                    th:errors="*{password}"
                  >
                    パスワードのエラー
                  </div>
                </td>
                <td>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    th:field="*{admin}"
                  />
                </td>
                <td>
                  <input class="form-control" type="text" th:field="*{name}" />
                  <div
                    class="text-danger"
                    th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}"
                  >
                    名前のエラー
                  </div>
                </td>
                <td>
                  <input
                    class="form-control"
                    type="text"
                    th:field="*{department}"
                  />
                  <div
                    class="text-danger"
                    th:if="${#fields.hasErrors('department')}"
                    th:errors="*{department}"
                  >
                    所属のエラー
                  </div>
                </td>
                <td>
                  <input class="form-control" type="tel" th:field="*{tel}" />
                  <div
                    class="text-danger"
                    th:if="${#fields.hasErrors('tel')}"
                    th:errors="*{tel}"
                  >
                    telのエラー
                  </div>
                </td>
                <td>
                  <input class="form-control" type="file" name="picture" />
                </td>
                <td>
                  <div>
                    <button class="btn btn-primary" type="submit">
                      <i class="bi bi-plus-circle"></i>新規
                    </button>
                  </div>
                </td>
              </form>
            </tr>
            <!-- ユーザ一覧 -->
            <tr th:each="user : ${users}" th:data-id="${user.id}">
              <td>[[${user.id}]]</td>
              <td>[[${user.email}]]</td>
              <td>*********</td>
              <td>[[${user.isAdmin ? '◯' : ''}]]</td>
              <td>[[${user.name}]]</td>
              <td>[[${user.department}]]</td>
              <td>[[${user.tel}]]</td>
              <td>
                <img
                  th:if="${user.picture != null}"
                  th:src="'data:image/jpeg;base64,' + ${user.picture}"
                  alt="プロフィール画像"
                  class="img-thumbnail"
                  style="max-height: 125px"
                />
              </td>
              <td>
                <div class="d-flex">
                  <!-- 編集ボタン -->
                  <button
                    class="btn btn-secondary mx-1 edit-button"
                    th:data-id="${user.id}"
                  >
                    <i class="bi bi-pencil"></i>
                  </button>
                  <!-- 削除ボタン -->
                  <button
                    class="btn btn-danger mx-1 delete-button"
                    th:data-id="${user.id}"
                  >
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- カード型（スマホ用） -->
        <div class="user-card-list">
          <!-- 新規追加カード -->
          <div class="card mb-2">
            <div class="card-body">
              <form
                class="row g-2"
                th:action="@{/admin/user}"
                method="post"
                enctype="multipart/form-data"
                th:object="${userDto}"
              >
                <div class="col-12">
                  <label class="form-label">email</label>
                  <input
                    class="form-control"
                    type="email"
                    th:field="*{email}"
                  />
                  <div
                    class="text-danger"
                    th:if="${#fields.hasErrors('email')}"
                    th:errors="*{email}"
                  >
                    emailのエラー
                  </div>
                </div>
                <div class="col-12">
                  <label class="form-label">パスワード</label>
                  <input
                    class="form-control"
                    type="password"
                    th:field="*{password}"
                  />
                  <div
                    class="text-danger"
                    th:if="${#fields.hasErrors('password')}"
                    th:errors="*{password}"
                  >
                    パスワードのエラー
                  </div>
                </div>
                <div class="col-12">
                  <label class="form-label">管理者</label>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    th:field="*{admin}"
                  />
                </div>
                <div class="col-12">
                  <label class="form-label">名前</label>
                  <input class="form-control" type="text" th:field="*{name}" />
                  <div
                    class="text-danger"
                    th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}"
                  >
                    名前のエラー
                  </div>
                </div>
                <div class="col-12">
                  <label class="form-label">所属</label>
                  <input
                    class="form-control"
                    type="text"
                    th:field="*{department}"
                  />
                  <div
                    class="text-danger"
                    th:if="${#fields.hasErrors('department')}"
                    th:errors="*{department}"
                  >
                    所属のエラー
                  </div>
                </div>
                <div class="col-12">
                  <label class="form-label">tel</label>
                  <input class="form-control" type="tel" th:field="*{tel}" />
                  <div
                    class="text-danger"
                    th:if="${#fields.hasErrors('tel')}"
                    th:errors="*{tel}"
                  >
                    telのエラー
                  </div>
                </div>
                <div class="col-12">
                  <label class="form-label">写真</label>
                  <input class="form-control" type="file" name="picture" />
                </div>
                <div class="col-12 text-center">
                  <button class="btn btn-primary" type="submit">
                    <i class="bi bi-plus-circle"></i>新規登録
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- 既存ユーザカード例 -->
          <div th:each="user : ${users}" class="card mb-3">
            <img
              th:if="${user.picture != null}"
              th:src="'data:image/jpeg;base64,' + ${user.picture}"
              alt="プロフィール画像"
              class="card-img-top"
              style="max-width: 200px"
            />

            <div class="card-body">
              <h5 class="card-title" th:text="'名前:' + ${user.name}"></h5>
              <div class="row">
                <div class="card-text mb-1 col-auto">
                  [['id:' + ${user.id}]]
                </div>
                <div class="card-text mb-1 col-auto">
                  [['email:' + ${user.email}]]
                </div>
                <div class="card-text mb-1 col-auto">*********</div>
                <div class="card-text mb-1 col-auto">
                  [[${user.isAdmin ? '管理者' : ''}]]
                </div>
                <div class="card-text mb-1 col-auto">
                  [['所属:' + ${user.department}]]
                </div>
                <div class="card-text mb-2 col-auto">
                  [['tel:' + ${user.tel}]]
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <!-- 編集ボタン -->
                <button
                  class="btn btn-secondary edit-button"
                  th:data-id="${user.id}"
                >
                  <i class="bi bi-pencil"></i>
                </button>
                <!-- 削除ボタン -->
                <button
                  class="btn btn-danger mx-1 delete-button"
                  th:data-id="${user.id}"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
